@font-face {
  font-family: 'dekar_lightregular';
  src: url("/assets/fonts/dekar_light-webfont.eot");
  src: url("/assets/fonts/dekar_light-webfont.eot") format("embedded-opentype"), url("/assets/fonts/dekar_light-webfont.woff") format("woff"), url("/assets/fonts/dekar_light-webfont.ttf") format("truetype"), url("/assets/fonts/dekar_light-webfont.svg#dekar_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dekarregular';
  src: url("/assets/fonts/dekar-webfont.eot");
  src: url("/assets/fonts/dekar-webfont.eot") format("embedded-opentype"), url("/assets/fonts/dekar-webfont.woff") format("woff"), url("/assets/fonts/dekar-webfont.ttf") format("truetype"), url("/assets/fonts/dekar-webfont.svg#dekarregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.not_found body {
  margin: 0 15px;
}

body {
  background-color: #f7f7f7;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lucida Sans", MyriadPro-Regular, "Myriad Pro Regular", MyriadPro, "Myriad Pro", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

legend, label {
  border-bottom: 0 solid #222222;
  color: #999;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #008ab8;
  background-image: -moz-linear-gradient(top, #0099cc, #007399);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0099cc), to(#007399));
  background-image: -webkit-linear-gradient(top, #0099cc, #007399);
  background-image: -o-linear-gradient(top, #0099cc, #007399);
  background-image: linear, to bottom, #0099cc, #007399;
  background-repeat: repeat-x;
  border-color: #007399 #007399 #00394d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #007399;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  color: #ffffff;
  background-color: #007399;
  *background-color: #006080;
}

.launching-soon {
  height: 100%;
  overflow: hidden;
}
.launching-soon body {
  background: #f7f7f7;
  height: 100%;
  min-width: 460px;
}
.launching-soon h1 {
  background: url(/assets/images/logo-giant.png);
  width: 411px;
  height: 107px;
  display: inline-block;
  line-height: normal;
}
.launching-soon h1:before {
  content: '';
  position: absolute;
  background: url(/assets/images/clouds-1.png) transparent no-repeat;
  width: 230px;
  height: 77px;
  top: 15%;
  left: 10%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: 0;
}
.launching-soon h1:after {
  content: '';
  position: absolute;
  background: url(/assets/images/clouds-2.png) transparent no-repeat;
  width: 211px;
  height: 90px;
  top: 20%;
  right: 5%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: 0;
}
.launching-soon h2 {
  color: #c0202f;
  font-size: 32px;
  font-family: dekar_lightregular;
  line-height: normal;
}
.launching-soon h3 {
  color: #363636;
  font-size: 24px;
  font-family: dekar_lightregular;
  line-height: normal;
  position: relative;
  top: 100px;
}
.launching-soon .center {
  font-size: 0;
  height: 100%;
  line-height: 0;
  text-align: center;
  white-space: nowrap;
}
.launching-soon .center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.launching-soon .center-inner {
  width: 90%;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
.launching-soon .socials {
  position: relative;
  top: 100px;
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
}
.launching-soon .socials li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
.launching-soon .socials li a {
  background: url(/assets/images/social.png) transparent no-repeat;
  display: block;
  width: 57px;
  height: 57px;
}
.launching-soon .socials li a.coderwall {
  background-position: 0 0;
}
.launching-soon .socials li a.twitter {
  background-position: -84px 0;
}
.launching-soon .socials li a.github {
  background-position: -168px 0;
}
@media (min-width: 946px) {
  .launching-soon h1:before {
    left: 10%;
  }
  .launching-soon h1:after {
    right: 5%;
  }
}
@media (min-width: 800px) and (max-width: 945px) {
  .launching-soon h1:before {
    left: 0;
  }
  .launching-soon h1:after {
    right: -5%;
  }
}
@media (min-width: 650px) and (max-width: 799px) {
  .launching-soon h1:before {
    left: -10%;
  }
  .launching-soon h1:after {
    right: -15%;
  }
}
@media (min-width: 560px) and (max-width: 649px) {
  .launching-soon h1:before {
    left: -20%;
  }
  .launching-soon h1:after {
    right: -25%;
  }
}
@media (min-width: 500px) and (max-width: 559px) {
  .launching-soon h1:before {
    left: -30%;
  }
  .launching-soon h1:after {
    right: -35%;
  }
}
@media (max-width: 499px) {
  .launching-soon h1:before {
    opacity: 0;
    left: -35%;
  }
  .launching-soon h1:after {
    opacity: 0;
    right: -40%;
  }
}
@media (min-height: 500px) {
  .launching-soon h1:before {
    top: 15%;
  }
  .launching-soon h1:after {
    top: 20%;
  }
}
@media (min-height: 420px) and (max-height: 499px) {
  .launching-soon h1:before {
    top: 10%;
  }
  .launching-soon h1:after {
    top: 15%;
  }
}
@media (min-height: 400px) and (max-height: 419px) {
  .launching-soon h1:before {
    top: 5%;
  }
  .launching-soon h1:after {
    top: 10%;
  }
}
@media (max-height: 399px) {
  .launching-soon h1:before {
    top: 5%;
    opacity: 0;
  }
  .launching-soon h1:after {
    top: 10%;
    opacity: 0;
  }
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}
