.blog {
  h2:first-child {
    margin-top: 0;
  }
}

.blog-post {
  margin-bottom: 34px;

  .blog-title {
    text-transform: uppercase;
    margin-bottom: 8px;

    a {
      @extend %extended-pointer-area;
      @extend %link;
      @extend %link_style_grey-red;
      color: #48484A;
    }
  }

  .blog-meta {
    color: #AAA;

    .blog-meta-date {
      display: inline-block;
      margin-right: 4px;
    }

    .blog-meta-author {
      display: inline-block;
      margin: 0;

      .__red {
        color: #C22030;
      }
    }
  }
}

.blog-header {
  padding: 20px 0 !important;

  .blog-header-left {
    margin: 0;

    a {
      color: #666;
      text-decoration: none;
    }
  }

  .blog-header-right {
    line-height: 40px;
  }
}

