.bubbles {
  @include font-height(0, 0);
  color: #444;
  margin: 0 0 70px;
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.bubble {
  @include font-height(14px, 20px);
  display: inline-block;
  text-align: center;
  // margin: 0 9px 24px;
}

.bubble-footer {
  color: #48484a;
  margin-top: 10px;
}

.bubble-main {
  @include size(135px);
  cursor: default;
  position: relative;
  z-index: 0;

  &:after {
    @include position(absolute, -4px false false -4px);
    @include size(143px);
    background: sprite($sprite-main, bubble-mask);
    content: '';
    z-index: 2;
  }
}

.bubble-main > img,
.bubble-backside {
  @include position(absolute, 0 false false 0);
  @include size(135px);
  @include transition(all 0.3s);
  border-radius: 67px;
}

.bubble-main > img {
  z-index: 0;
}

.bubble-backside {
  @include transform(rotate(15deg));
  background: $color-scarlett;
  line-height: 135px;
  opacity: 0;
  z-index: 1;
}

.bubble-main:hover > .bubble-backside {
  @include transform(none);
  opacity: 1;
}

.bubble-main:hover > .bubble-backside + img {
  @include transform(rotate(15deg));
}

.bubble-backside-text {
  @include font-height(12px, 14px);
  color: #FFF;
  display: inline-block;
  font-style: italic;
  vertical-align: middle;
  width: 95px;
}