.button {
  @include box-sizing(border-box);
  @include font-height(14px, 16px);
  background-clip: padding-box;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-weight: $semibold;
  height: 32px;
  padding: 7px 30px;
  text-decoration: none;
  text-transform: uppercase;

  &:active {
    box-shadow: inset 0 2px 4px rgba(#000, 0.15);
  }

  &:disabled,
  &.disabled {
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
  }
}

.button-azure {
  &:hover {
    background: $color-azure;
    color: #FFF;
  }

  &:active {
    background: darken($color-azure, 5%);
    border-color: darken($color-azure, 5%);
    color: darken(#FFF, 5%);
  }

  &,
  &:disabled,
  &.disabled {
    background: #FFF;
    border: 1px solid $color-azure;
    color: #888;
  }
}

.button-scarlett {
  &:hover {
    background: #a8aaad;
    border-color: #a8aaad;
    color: #FFF;
  }

  &:active {
    background: darken(#a8aaad, 5%);
    border-color: darken(#a8aaad, 5%);
    color: darken(#FFF, 5%);
  }

  &,
  &:disabled,
  &.disabled {
    background: $color-scarlett;
    border: 1px solid $color-scarlett;
    color: #FFF;
  }
}