.diptych {
  margin: 0 0 55px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  &.diptych-inset {
    background: #f7f7f7;
    padding: 35px 0;
  }

  &.__bordered {
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
  }

  h2 {
    @include font-height(22px, 26px);
    color: #48484a;
    margin: 0 0 20px;
    text-align: center;
  }

  p {
    margin: 20px 0 0;
  }
}

.diptych-inner {
  @extend .clearfix;
}

.diptych-section {
  float: left;
  width: 46%;

  &:first-child {
    margin-right: 8%;
  }
}
