// .headline {
//   @include font-height(34px, 40px);
//   color: #444;
//   font-weight: bold;
//   margin: 35px 0 60px;
//   text-align: center;
// }

.headline {
  @extend .text-bound;
  @include font-height(15px, 21px);
  color: #a8aaad;
  margin: 35px auto 40px;
  text-align: center;
  position: relative;

  > h1 {
    @include font-height(34px, 40px);
    color: #48484a;
    margin: 0 0 12px;
  }

  > p {
    margin: 0;
  }

  > a {
    position: absolute;
    top: -15px;
    left: 0px;

    &:before {
      content: "< ";
      display: inline;
    }
  }
}