.hell {
  background: #f7f7f7;
  border-top: 2px solid #e5e5e5;
  padding: 40px 0;

  a {
    @extend %link;
    @extend %link_style_grey-red;
  }
}

.hell-social {
  $base-box-shadow: 0 1px 1px #fcfcfc;
  display: inline-block;
  vertical-align: middle;

  > a {
    @include size(42px);
    background: #a8aaad;
    border-radius: 21px;
    box-shadow: $base-box-shadow, inset 0 1px 2px #6e6f71;
    float: left;
    line-height: 42px;
    text-align: center;
    margin: -11px 0 -11px 27px;

    &:hover {
      background: #37afdb;
      box-shadow: $base-box-shadow;
    }

    &:active {
      background: darken(#37afdb, 5%);
      box-shadow: inset 0 1px 2px darken(#6e6f71, 5%);

      > .asset {
        opacity: 0.95;
      }
    }

    > .asset {
      vertical-align: middle;
    }
  }
}