.menu {
  @extend .clearfix;
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    float: left;
    font-weight: bold;
    margin-left: 35px;
    text-transform: lowercase;

    > a {
      @extend %link;
      @extend %link_style_menu;
      @extend %extended-pointer-area;
    }

    &.is-active {
      color: #222;
    }

    &.is-active > a {
      @include link-color(#222);
    }
  }
}