
.page-404 {
  background: url('/_/images/404.jpg') #e6e6e8;
  background-repeat: no-repeat;
  background-position: center -66px;
}

.page-404__content {
  min-height: 500px;
  width: 40%;
  margin: 40px 80px;
  font-size: 110%;
}

.page-404__title {
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
}
