.showcase {
  background: #f7f7f7;
  border-bottom: 2px solid #e5e5e5;
  overflow: hidden;
  min-height: 525px;
}

.showcase-picture {
  background: no-repeat 50% 50%;
}

.showcase-carousel {
  width: 1018px;
  height: 425px;
  margin: 0 auto;
  position: relative;
  img {
    display: block;
    float: left;
    border: none;
    position: relative;
  }
}
