.textbox {
  @include box-sizing(border-box);
  @include font-height(14px, 20px);
  background: #ededed;
  border-radius: 2px;
  border: 0;
  padding: 10px 12px;
  margin-bottom: 24px;

  &[disabled] {
    cursor: default;
    opacity: 0.65;
  }

  &.invalid {
    color: $color-scarlett;
  }

  &,
  &:focus {
    color: #666;
  }
}

.textbox-block {
  width: 100%;
}