.triptych {
  margin: 0 0 50px;

  h2 {
    @include font-height(22px, 26px);
    color: #48484a;
    margin: 0 0 27px;
    text-align: center;
  }

  h3 {
    @include font-height(18px, 22px);
    font-weight: bold;
    margin: 0 0 6px;
  }

  p {
    margin: 0;
  }
}

.triptych-inner {
  @extend .clearfix;
}

.triptych-section {
  float: left;
  margin-left: 5%;
  width: 30%;

  &:first-child {
    margin: 0;
  }
}

.triptych-picture {
  background: image-url('pattern-triptych-figure.gif') #f7f7f7;
  height: 180px;
  line-height: 180px;
  margin: 0 0 27px;
  text-align: center;

  > .asset {
    vertical-align: middle;
  }
}