// Menu
// ====

.menu {
  @extend %clearfix;
  @include font-height(16px, 20px);
  list-style: none;
  margin: 0;
  padding: 6px 0;

  &_i {
    float: left;

    + .menu_i {
      margin-left: 32px;
    }

    &.__current {

      > .menu_i_inner {
        background: linear-gradient(#f5f5f5, #EEE) !important;
        border-radius: 3px;
        box-shadow:
          inset 0 1px 3px -1px rgba(#000, 0.5),
          0 1px 0 rgba(#FFF, 0.2);
        margin: -6px -8px;
        padding: 6px 8px;
      }
    }
  }

  &_i_inner {
    display: block;

    &.__complex {
      @extend .link.__expanded;
    }
  }
}
