.formatted-text {
  @extend .clearfix;
  font-family: sans-serif;
  font-size: $text-font-size;
  line-height: $text-line-height;

  h1 {
    font-size: 2.3em;
    line-height: 1.2;
    margin: 0 0 1em;
  }

  #{headings(2, 4)} {
    margin: 2em 0 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    font-size: 1.85em;
    line-height: 1.2;
  }

  h3 {
    color: #777;
    font-size: 1.38em;
    line-height: 1.2;
    font-style: italic;
    font-weight: normal;
  }

  h4 {
    color: #777;
    font-size: 1.15em;
    line-height: 1.2;
    font-weight: normal;
  }

  p {
    margin: 0 0 1em;
  }

  ul {
    list-style: none;
    margin: 0 0 1em;
    padding: 0 0 0 15px;

    li {
      margin-bottom: 0.5em;

      &:before {
        content: '\2014\a0';
        float: left;
        margin-left: -1.28em;
      }
    }
  }

  a {
    @extend .link;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}