.team {
  font-size: 0;
  line-height: 0;

  img {
    @include box-shadow(0 2px 6px -2px #222);
    display: block;
    border: 2px solid #FFF;
    margin-bottom: 10px;
  }

  a {
    @extend .link;
    @extend .link-complex;
  }
}

.team-item {
  display: inline-block;
  font-size: $text-font-size;
  line-height: $text-line-height;
  margin-bottom: 30px;
  vertical-align: top;
  width: 180px;
}

.team-item-name {
  font-weight: bold;
}

.team-item-title {
  color: #999;
  font-size: 12px;
}