---
layout: default
title: StarterSquad Team
menu_index: 2
---

<div class="arkush">
  {% include team/headline.html %}
  {% include team/bubbles.html %}
  <p>The path of&nbsp;a&nbsp;cosmonaut is&nbsp;not an&nbsp;easy, triumphant march to&nbsp;glory. You have to&nbsp;get to&nbsp;know the meaning not just of&nbsp;joy but also of&nbsp;grief, before being allowed in&nbsp;the spacecraft cabin. What was most significant about the lunar voyage was not that man set foot on&nbsp;the Moon but that they set eye on&nbsp;the earth.</p>
  <p>To&nbsp;be&nbsp;the first to&nbsp;enter the cosmos, to&nbsp;engage, single-handed, in&nbsp;an&nbsp;unprecedented duel with nature&mdash;could one dream of&nbsp;anything more? As&nbsp;I&nbsp;stand out here in&nbsp;the wonders of&nbsp;the unknown at&nbsp;Hadley, I&nbsp;sort of&nbsp;realize there&rsquo;s a&nbsp;fundamental truth to&nbsp;our nature, Man must explore... and this is&nbsp;exploration at&nbsp;its greatest.</p>
  <div class="inset">
    Enjoy working with&nbsp;StarterSquad
    <a class="button button-scarlett" href="/contacts">Join us</a>
  </div>
  {% include team/benefits.html %}
</div>