$light:    200;
$semibold: 600;

@font-face {
  font-family: 'Proxima Nova';
  src: inline-font-files('proximanova-regular-webfont.woff', woff);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: inline-font-files('proximanova-bold-webfont.woff', woff);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Proxima Nova';
  src: inline-font-files('proximanova-semibold-webfont.woff', woff);
  font-style: normal;
  font-weight: $semibold;
}

@font-face {
  font-family: 'Proxima Nova';
  src: inline-font-files('proximanova-light-italic-webfont.woff', woff);
  font-style: italic;
  font-weight: $light;
}