<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <script>(function(d){d.className=d.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=1000">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% stylesheet main %}
</head>
