<div class="heaven">
  <div class="arkush clearfix">
    {% unless page.menu_index == 0 %}
      <a class="brand pull-left" href="/">StarterSquad</a>
    {% else %}
      <span class="brand pull-left">StarterSquad</span>
    {% endunless %}
    <div class="pull-right">
      <ul class="menu pull-left">
        {% for item in page.menu %}
          {% if forloop.index0 == page.menu_index %}
            {% if page.force_menu_link %}
              <li class="is-active"><a class="link_complex" href="{{ item.href }}"><u>{{ item.title }}</u></a></li>
            {% else %}
              <li class="is-active">{{ item.title }}</li>
            {% endif %}
          {% else %}
            <li><a class="link_complex" href="{{ item.href }}"><u>{{ item.title }}</u></a></li>
          {% endif %}
        {% endfor %}
      </ul>
      {% if page.menu_index == 5 %}
        <span class="button button-azure disabled pull-left">Get in touch</span>
      {% else %}
        <a id="contact-link" class="button button-azure pull-left" href="/contact">Get in touch</a>
      {% endif %}
    </div>
  </div>
</div>
