<div class="hell">
  <div class="arkush clearfix">
    <div class="pull-left">
      Find us on web:
      <div class="hell-social">
        <a href="//twitter.com/StarterSquad"><span class="asset asset-twitter">Twitter,</span></a>
        <a href="//github.com/StarterSquad"><span class="asset asset-github">GitHub,</span></a>
        <a href="//coderwall.com/team/startersquad"><span class="asset asset-coderwall">Coderwall</span></a>
      </div>
    </div>
    <div class="pull-right">
      ©&nbsp;2013
      {% unless page.menu_index == 0 %}
        <a href="/">StarterSquad</a>.
      {% else %}
        StarterSquad.
      {% endunless %}
      All Rights Reserved.
      <br>
      <a href="https://github.com/StarterSquad/startersquad.github.com/blob/master/terms-and-conditions.md">Terms and conditions</a>
    </div>
  </div>
</div>