.launching-soon {
  height: 100%;
  overflow: hidden;

  body {
    background: #f7f7f7;
    height: 100%;
    min-width: 460px;
  }

  h1 {
    background: url(/assets/images/logo-giant.png);
    width: 411px;
    height: 107px;
    display: inline-block;
    line-height: normal;
  }
  h1:before {
    content: '';
    position: absolute;
    background: url(/assets/images/clouds-1.png) transparent no-repeat;
    width: 230px;
    height: 77px;
    top: 15%;
    left: 10%;
    @include transition( all 1s );
  }
  h1:after {
    content: '';
    position: absolute;
    background: url(/assets/images/clouds-2.png) transparent no-repeat;
    width: 211px;
    height: 90px;
    top: 20%;
    right: 5%;
    @include transition( all 1s );
  }

  h2 {
    color: #c0202f;
    font-size: 32px;
    font-family: dekar_lightregular;
    line-height: normal;
  }

  h3 {
    color: #363636;
    font-size: 24px;
    font-family: dekar_lightregular;
    line-height: normal;
    position: relative;
    top: 100px;
  }

  .center {
    font-size: 0;
    height: 100%;
    line-height: 0;
    text-align: center;
    white-space: nowrap;
  }
  .center:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .center-inner {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
  }

  .socials {
    position: relative;
    top: 100px;
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 15px;
      padding: 0;

      a {
        background: url(/assets/images/social.png) transparent no-repeat;
        display: block;
        width: 57px;
        height: 57px;

        &.coderwall {
          background-position: 0 0;
        }

        &.twitter {
          background-position: -84px 0;
        }

        &.github {
          background-position: -168px 0;
        }
      }
    }
  }

  // wide = all cool
  @media (min-width: 946px) {
    h1:before {
      top: 15%;
      left: 10%;
    }
    h1:after {
      top: 20%;
      right: 5%;
    }
  }

  // clouds will overlay logo
  @media (min-width: 800px) and (max-width: 945px) {
    h1:before {
      top: 15%;
      left: 0;
    }
    h1:after {
      top: 20%;
      right: -5%;
    }
  }

  @media (min-width: 650px) and (max-width: 799px) {
    h1:before {
      top: 15%;
      left: -10%;
    }
    h1:after {
      top: 20%;
      right: -15%;
    }
  }

  @media (min-width: 560px) and (max-width: 649px) {
    h1:before {
      top: 15%;
      left: -20%;
    }
    h1:after {
      top: 20%;
      right: -25%;
    }
  }

  @media (min-width: 500px) and (max-width: 559px) {
    h1:before {
      top: 15%;
      left: -30%;
    }
    h1:after {
      top: 20%;
      right: -35%;
    }
  }

  @media (max-width: 499px) {
    h1:before {
      opacity: 0;
      top: 15%;
      left: -35%;
    }
    h1:after {
      opacity: 0;
      top: 20%;
      right: -40%;
    }
  }
}