.project-body {
  h2 {
    @include font-height(22px, 26px);
    color: #48484a;
    margin: 40px 0 20px;
    text-align: center;
  }

  p {
    margin: 0 0 20px;
  }

  a {
    @extend %link;
    @extend %link_style_grey-red;
  }
}