---
layout: default
title: Blog Tags
---

{% include blog/headline.html %}

<div class="arkush">
  <table class="layout-table">
    <col width="72%">
    <col width="9%">
    <col width="19%">
    <tr>
      <td class="layout-table-cell">
        <div class="blog text-bound">
          {% for tag in site.tags %}
          <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
          <ul>
            {% assign pages_list = tag[1] %}
            {% include blog/pages_list %}
          </ul>
          {% endfor %}
        </div>
      </td>
      <td class="layout-table-cell"></td>
      <td class="layout-table-cell">
        {% include blog/facebook.html %}
        <div class="tags">
          <h2>Tags</h2>
          <ul>
            {% assign tags_list = site.tags %}
            {% include blog/tags_list %}
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>
