article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after, .l-page:after, .formatted-text:after {
  content: '';
  display: table;
  clear: both;
}

.center {
  font-size: 0;
  height: 100%;
  line-height: 0;
  text-align: center;
  white-space: nowrap;
}
.center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.center-inner {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

.l-page {
  padding: 40px 0;
}

.l-content,
.l-sidebar {
  float: left;
}

.l-content {
  margin-left: 2%;
  max-width: 48em;
  width: 76%;
}

.l-sidebar {
  margin-left: 4%;
  width: 16%;
}

.brand {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0060c0), color-stop(100%, #0040c0));
  background: -webkit-linear-gradient(#0060c0, #0040c0);
  background: -moz-linear-gradient(#0060c0, #0040c0);
  background: -o-linear-gradient(#0060c0, #0040c0);
  background: linear-gradient(#0060c0, #0040c0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #FFF;
  display: inline-block;
  font-size: 20px;
  margin-left: -8px;
  padding: 8px;
}

.formatted-text {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.formatted-text h1 {
  font-size: 2.3em;
  line-height: 1.2;
  margin: 0 0 1em;
}
.formatted-text h2, .formatted-text h3, .formatted-text h4 {
  margin: 2em 0 1em;
}
.formatted-text h2:first-child, .formatted-text h3:first-child, .formatted-text h4:first-child {
  margin-top: 0;
}
.formatted-text h2 {
  font-size: 1.85em;
  line-height: 1.2;
}
.formatted-text h3 {
  color: #777;
  font-size: 1.38em;
  line-height: 1.2;
  font-style: italic;
  font-weight: normal;
}
.formatted-text h4 {
  color: #777;
  font-size: 1.15em;
  line-height: 1.2;
  font-weight: normal;
}
.formatted-text p {
  margin: 0 0 1em;
}
.formatted-text ul {
  list-style: none;
  margin: 0 0 1em;
  padding: 0 0 0 15px;
}
.formatted-text ul li {
  margin-bottom: 0.5em;
}
.formatted-text ul li:before {
  content: '\2014\a0';
  float: left;
  margin-left: -1.28em;
}
.formatted-text img {
  height: auto;
  max-width: 100%;
}

.link, a.brand, .formatted-text a, .nav a, .pagination a, .team a {
  border-color: rgba(0, 96, 192, 0.33);
  color: #0060c0;
  border-style: solid;
  border-width: 0 0 1px;
  text-decoration: none;
}
.link:hover, a.brand:hover, .formatted-text a:hover, .nav a:hover, .pagination a:hover, .team a:hover, .link.is-hover, a.is-hover.brand, .formatted-text a.is-hover, .nav a.is-hover, .pagination a.is-hover, .team a.is-hover {
  border-color: rgba(255, 51, 51, 0.33);
  color: #ff3333;
}

.link-inverse, a.brand {
  border-color: rgba(255, 255, 255, 0.33);
  color: white;
}
.link-inverse:hover, a.brand:hover {
  border-color: rgba(255, 255, 255, 0.33);
  color: rgba(255, 255, 255, 0.8);
}

.link-complex, a.brand, .team a {
  border-width: 0;
}
.link-complex > u, a.brand > u, .team a > u {
  border-color: inherit;
  border-style: solid;
  border-width: 0 0 1px;
  text-decoration: none;
}

.nav {
  font-size: 15px;
  line-height: 1.5;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.nav li {
  margin-bottom: 10px;
}
.nav li.is-current span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #f0f0f0;
  margin-left: -9px;
  padding: 6px 9px;
}

.pagination {
  font-size: 13px;
  margin-top: 40px;
}

.pagination-keys {
  margin: 0 4px;
}

.pagination-modifier {
  font-size: 11px;
  margin: 0 4px;
}

.team {
  font-size: 0;
  line-height: 0;
}
.team img {
  -webkit-box-shadow: 0 2px 6px -2px #222222;
  -moz-box-shadow: 0 2px 6px -2px #222222;
  box-shadow: 0 2px 6px -2px #222222;
  display: block;
  border: 2px solid white;
  margin-bottom: 10px;
}

.team-item {
  display: inline-block;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 30px;
  vertical-align: top;
  width: 180px;
}

.team-item-name {
  font-weight: bold;
}

.team-item-title {
  color: #999;
  font-size: 12px;
}
