.citation {
  @include font-height(30px, 40px);
  margin: 0;
  text-align: center;

  &:before {
    content: '“';
    display: block;
    font: 90px/30px $georgia;
    margin: 0 auto 24px;
  }

  > p {
    margin: 0 0 16px;
  }

  > cite {
    @include font-height(16px, 22px);
    display: block;
    font-style: normal;
    margin: 24px auto 0;
    max-width: 320px;
  }
}
