.header,
.header-push {
  height: 96px;
}

.header {
  @extend %clearfix;
  @include position(fixed, 0 0 none);
  background: #FFF;
  padding: 32px 0;
  z-index: 1000;

  &_logo {
    float: left;
    margin: -11px 0 -23px;

    > img {
      display: block;
    }
  }

  .menu {
    float: right;
  }
}
