// .masthead {
//   height: 90%;

//   &_inner {
//     margin: auto;
//     width: 940px;
//   }
// }


.masthead {
  @include font-height(30px, 40px);
  background: radial-gradient(circle cover, #73dbc8, #4c979b);
  position: relative;
  overflow: hidden;
  z-index: 0;

  &:after {
    @include position(absolute, none 0 0);
    background: linear-gradient(rgba(#4c979b, 0), #4c979b);
    content: '';
    height: 33.3%;
    z-index: 1;
  }

  &_inner {
    @include size(100%);
    display: table;
  }

  &_main {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  &_title {
    background: #FFF;
    color: #6bcdbf;
    display: inline-block;
    font: 100px/1 $vollkorn;
    margin: 0;
    padding: 20px 24px 4px;
  }

  &_action {
    @include position(absolute, none 0 12px);
    text-align: center;
    z-index: 2;
  }
}
