.masthead {
  @include font-height(18px, 26px);
  background: asset-url('project/masthead/background.png') no-repeat 50% 100% #eff4f8;
  min-height: 620px;

  &_inner {
    @include size(100%);
    display: table;
  }

  &_main {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  &_title {
    font: 80px/1 $vollkorn;
    margin: 0;
  }

  &_descr {
    margin: 16px 0 32px;
  }

  &_action {

    > a + a {
      margin-left: 24px;
    }
  }
}
