.mosaic2 {
  @extend %clearfix;
  color: #000;
  margin: auto;
  width: 990px;

  &_i {
    @include size(310px 390px);
    float: left;
    margin: 10px;
    padding: 24px;
    text-decoration: none;

    &_header {
      @include font-height(32px, 36px);
      font-weight: bold;
      margin: 0 0 32px;

      > .link_u {
        background-position: 0 90%;
      }
    }

    &.__intro, &.__outro {
      border-top: 1px solid #d8dff1;
      border-bottom: 1px solid #d8dff1;
    }

    &.__outro &_header {
      @include font-height(32px, 36px);
      margin-top: 0;
    }

    &.__outro .section + .section {
      margin-top: 15px;
    }

    &.__inverse {
      color: #FFF;
    }

  }
}
