.mosaic2 {
  @extend %clearfix;
  @include font-height(32px, 36px);
  color: #000;
  font-weight: bold;
  margin: auto;
  width: 990px;

  &_i {
    @include size(310px 390px);
    background: #DDD;
    float: left;
    margin: 10px;
    padding: 24px;
    text-decoration: none;

    &.__inverse {
      color: #FFF;
    }

    > .link_u {
      background-position: 0 90%;
    }
  }
}
