.mosaic2 {
  @extend %clearfix;
  margin: auto;
  width: 990px;

  &_i {
    @include size(310px 390px);
    color: #000 !important;
    float: left;
    margin: 10px;
    padding: 24px;
    text-decoration: none;

    &_header {
      @include font-height(32px, 36px);
      font-weight: bold;
      margin: 0 0 32px;

      > .link_u {
        background-position: 0 90%;
      }
    }

    &.__inverse {
      color: #FFF;
    }

    &.__transparent {
      border-color: #d8dff1;
      border-style: solid;
      border-width: 1px 0;
    }
  }

  .section.txbox + .section.txbox,
  .section.txbox + .section.btn {
    margin-top: 16px;
  }
}
