.steps {

  $dot-size: 25px;

  @include font-height(18px, 24px);
  color: #FFF;

  &_i {
    min-height: $dot-size;
    padding: 1px 0 0 60px;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      @include position(0 none none 0);
      @include size($dot-size);
      background: $color-blue;
      border-radius: ($dot-size / 2);
      border: 4px solid #FFF;
    }

    &.__arrow:after {
      @include position(8px none none 9px);
      @include image-size('project/steps/arrow.png');
      background: inline-asset('project/steps/arrow.png');
    }

    &.__dot:after {
      @include position(10px none none 10px);
      @include size(5px);
      background: #FFF;
      border-radius: 2.5px;
    }

    // @todo: implement links first
    //
    // &:hover {
    //
    //   &:before {
    //     background: $color-red;
    //   }
    // }
  }

  &_line {
    border-left: 1px solid rgba(#FFF, 0.5);
    height: 46px;
    margin: 3px 0 3px 12px;
  }
}
