.highlight {

  background: #FFF;

  .bp {
    color: #999;
  }

  .c {
    color: #998;
    font-style: italic;
  }

  .c1 {
    color: #998;
    font-style: italic;
  }

  .cm {
    color: #998;
    font-style: italic;
  }

  .cp {
    color: #999;
    font-weight: bold;
  }

  .cs {
    color: #999;
    font-style: italic;
    font-weight: bold;
  }

  .err {
    background-color: #e3d2d2;
    color: #a61717;
  }

  .gd {
    color: #000;
    background-color: #FDD;

    .x {
      background-color: #FAA;
      color: #000;
    }
  }

  .ge {
    font-style: italic;
  }

  .gh {
    color: #999;
  }

  .gi .x {
    background-color: #AFA;
    color: #000;
  }

  .gi {
    background-color: #DFD;
    color: #000;
  }

  .go {
    color: #888;
  }

  .gp {
    color: #555;
  }

  .gr {
    color: #A00;
  }

  .gs {
    font-weight: bold;
  }

  .gt {
    color: #A00;
  }

  .gu {
    color: #AAA;
  }

  .il {
    color: #099;
  }

  .k {
    font-weight: bold;
  }

  .kc {
    font-weight: bold;
  }

  .kd {
    font-weight: bold;
  }

  .kp {
    font-weight: bold;
  }

  .kr {
    font-weight: bold;
  }

  .kt {
    color: #458;
    font-weight: bold;
  }

  .m {
    color: #099;
  }

  .mf {
    color: #099;
  }

  .mh {
    color: #099;
  }

  .mi {
    color: #099;
  }

  .mo {
    color: #099;
  }

  .na {
    color: #008080;
  }

  .nb {
    color: #0086b3;
  }

  .nc {
    color: #458;
    font-weight: bold;
  }

  .ne {
    color: #900;
    font-weight: bold;
  }

  .nf {
    color: #900;
    font-weight: bold;
  }

  .ni {
    color: #800080;
  }

  .nn {
    color: #555;
  }

  .no {
    color: #008080;
  }

  .nt {
    color: #000080;
  }

  .nv {
    color: #008080;
  }

  .o {
    font-weight: bold;
  }

  .ow {
    font-weight: bold;
  }

  .s {
    color: #D14;
  }

  .s1 {
    color: #D14;
  }

  .s2 {
    color: #D14;
  }

  .sb {
    color: #D14;
  }

  .sc {
    color: #D14;
  }

  .sd {
    color: #D14;
  }

  .se {
    color: #D14;
  }

  .sh {
    color: #D14;
  }

  .si {
    color: #D14;
  }

  .sr {
    color: #009926;
  }

  .ss {
    color: #990073;
  }

  .sx {
    color: #D14;
  }

  .vc {
    color: #008080;
  }

  .vg {
    color: #008080;
  }

  .vi {
    color: #008080;
  }

  .w {
    color: #BBB;
  }

  .lineno {
    color: #BBB;
    font-size: 11px;
    margin-right: 1em;
    user-select: none;
  }
}
