.team-member-card {
  @include font-height(17px, 20px);
  background-color: white;
  padding: 50px;
  text-align: center;

  &_avatar {
    @include size(170px);
    background-color: #eff4f8;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 85px;
    border: 4px solid #f7f7f7;
    margin: auto;
  }

  &_name {
    margin-top: 30px;
  }

  &_position {
    color: $color-red;
    font-size: 14px;
    margin-top: 5px;
  }
}
