html,
body {
  height: 100%;
}

body {
  color: #666;
  font: 14px/20px 'Lato', sans-serif;
  overflow-y: scroll;
}

h1, h2, h3, h4 {
  line-height: 1.5;
  font-weight: 400;
}

.hover {
  @extend :hover;
}

:focus {
  outline: 0 !important;
}

.list-unstyled {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

// .active {
//   @extend :active;
// }

textarea {
  resize: none;
}
