.clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hide-text {
  background-color: transparent;
  border: 0;
  overflow: hidden;

  &:before {
    @include size(0 150%);
    content: '';
    display: block;
  }
}

.hidden {
  display: none !important;
}

.text-bound {
  max-width: 48em;
}

%extended-pointer-area,
.extended-pointer-area {
  margin: -6px -0.67em;
  padding: 6px 0.67em;
}