a {
  @extend %link-grey-scarlett;
  text-decoration: none;
}

%link-grey-scarlett {
  color: #666;
  &:hover {
    color: $color-scarlett;
  }
}

%link-grey-azure {
  color: #666;
  &:hover {
    color: #37afdb;
  }
}

%link-azure-grey {
  color: #37afdb;
  &:hover {
    color: #a8aaad;
  }
}