---
layout: default
title: StarterSquad Contacts
menu_index: 4
---

<div class="arkush">
  <div class="contacts-message">
    <div class="contacts-message-column">
      <h1>Get in&nbsp;touch</h1>
      <p class="contacts-message-lead">Send a&nbsp;direct message</p>
      <p><a class="contacts-link" href="mailto:hello@startersquad.com">hello@startersquad.com</a></p>
      <p>Spaceflights cannot be&nbsp;stopped. This is&nbsp;not the work of&nbsp;any one man or&nbsp;even a&nbsp;group of&nbsp;men. It&nbsp;is&nbsp;a&nbsp;historical process which mankind is&nbsp;carrying out in&nbsp;accordance with the natural laws of&nbsp;human development.</p>
    </div>
    <div class="contacts-message-column">
      <!--{% include contact/google-form.html %}-->
      <!--{% include contact/hacked-google-form.html %}-->
      <!--{% include contact/emailme-form.html %}-->
    </div>
  </div>
</div>