.home-blog {

  margin-bottom: 0px;

  h2 {
    @include font-height(22px, 26px);
    color: #48484a;
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.home-blog-section {
  img {
    display: none;
  }
  .home-blog-section-title {
    display: block;
    margin-bottom: 25px;
  }
}

.home-blog-more {
  @extend %link-azure-grey;
}