// Elastic
// =======

.elastic {
  display: table;
  width: 100%;

  &_col {
    display: table-cell;
    vertical-align: top;

    & + & {
      padding-left: 40px;
    }

    &.__shrink {
      white-space: nowrap;
      width: 1px;
    }
  }

  &_row {
    display: table-row;

    &.__shrink {
      height: 1px;
    }
  }

  // Modifiers
  // ---------

  &.__justify {
    table-layout: fixed;
  }
}
