---
menu:
- title: "Home"
  href:  "/"
- title: "Projects"
  href:  "/projects/hubskip"
- title: "Team"
  href:  "/team"
- title: "Blog"
  href:  "/blog"
# - title: "Contact"
#   href:  "/contact"
---

<!DOCTYPE html>
<html class="no-js">
  <head>
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>{% if page.title %}{{ page.title }}{% else %}StarterSquad{% endif %}</title>
    <meta content="width=1000" name="viewport">
    <link href="//fonts.googleapis.com/css?family=Lato:400,i,b,bi" rel="stylesheet">
    <link href="/_/css/style.css" rel="stylesheet">
    <script type="text/javascript">
          var heap=heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//d36lvucg9kzous.cloudfront.net";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
          heap.load("2794372135");
    </script>
  </head>
  <body>
    <div class="layout-page">
      <div class="layout-page-top">
        {% include heaven.html %}
        {{ content }}
      </div>
      <div class="layout-page-bottom">
        {% include hell.html %}
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/_/js/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/_/js/jquery.bureaucrat.js"></script>
    <script src="/_/js/ui.js"></script>
    <script>
      var _gaq=[['_setAccount','UA-39018138-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>