---
layout: default
menu_index: 3
force_menu_link: true
---

{% include blog/headline.html %}

<div class="arkush">
  <table class="layout-table">
    <col width="72%">
    <col width="9%">
    <col width="19%">
    <tr>
      <td class="layout-table-cell">
        <div class="article text-bound">
          <div class="blog-post">
            <h1 class="blog-title">{{ page.title }}</h1>
            <div class="blog-meta">
              <span class="blog-meta-date">{{ page.date | date: '%A, %B %d, %Y' }}</span>
              <span class="blog-meta-author">by <span class="__red">{{ page.author }}</span></span>
            </div>
          </div>

          {{ content }}

          <div class="article-tags">
            <b>Tags:</b>
            {% for tag in page.tags %}
              <a href="/blog/tags.html#{{ tag }}">{{ tag }}{% unless forloop.last %},{% endunless %}</a>
            {% endfor %}
          </div>
          <div class="article-share">
            <b>Share this post:</b>
            <a href="http://twitter.com/share?url={{ site.domain }}{{ page.url }}" target="_blank">Twitter</a>, 
            <a href="https://plus.google.com/share?&hl=en&url={{ site.domain }}{{ page.url }}" target="_blank">Google+</a>, 
            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.domain }}{{ page.url }}" target="_blank">Linkedin</a>, 
            <a href="http://www.facebook.com/sharer.php?u={{ site.domain }}{{ page.url }}" target="_blank">Facebook</a>
          </div>
        </div>
      </td>
      <td class="layout-table-cell"></td>
      <td class="layout-table-cell">
        {% include blog/facebook.html %}
        {% include blog/tags.html %}
      </td>
    </tr>
    <tr>
      <td class="layout-table-cell">
        {% include disqus_comments.html %}
      </td>
      <td class="layout-table-cell"></td>
      <td class="layout-table-cell"></td>
    </tr>
  </table>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
