---
layout: default
menu_index: 3
force_menu_link: true
---

<div class="arkush">
  <div class="headline">
    <h1>Our blog about technology and creativity</h1>
  </div>
  <table class="layout-table">
    <col width="72%">
    <col width="9%">
    <col width="19%">
    <tr>
      <td class="layout-table-cell">
        <div class="article text-bound">
          <div class="article-date">May 14, 2013</div>
          {{ content }}
          <div class="article-tags">
            <b>Tags:</b>
            {% for tag in page.tags %}
              <a href="/blog/tags/{{ tag | downcase }}">{{ tag }}{% unless forloop.last %},{% endunless %}</a>
            {% endfor %}
          </div>
        </div>
      </td>
      <td class="layout-table-cell"></td>
      <td class="layout-table-cell">
        {% include blog/tags.html %}
      </td>
    </tr>
  </table>
</div>