---
layout: blog
---

<div class="section">
  <h1>{{ page.title }}</h1>
  <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  {{ content }}
  <div class="cf">
    <div class="float-left">
      <b>Tags:</b>
      {% assign sorted_tags = page.tags | sort %}
      {% for tag in sorted_tags %}
        <a href="/blog/tags.html#{{ tag }}">{{ tag }}{% unless forloop.last %},{% endunless %}</a>
      {% endfor %}
    </div>
    <div class="float-right">
      <b>Share this post:</b>
      <a href="http://twitter.com/share?url={{ site.domain }}{{ page.url }}" target="_blank">Twitter</a>,
      <a href="https://plus.google.com/share?&hl=en&url={{ site.domain }}{{ page.url }}" target="_blank">Google+</a>,
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.domain }}{{ page.url }}" target="_blank">Linkedin</a>,
      <a href="http://www.facebook.com/sharer.php?u={{ site.domain }}{{ page.url }}" target="_blank">Facebook</a>
    </div>
  </div>
</div>
<div class="section">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
     var disqus_shortname = 'startersquad';
     (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
