<div class="triptych">
  <h2>Our favorite benefits</h2>
  <div class="triptych-inner">
    <div class="triptych-section">
      <div class="triptych-picture"><span class="asset asset-pencil"></span></div>
      <h3>Plan</h3>
      <p>We’re spread all over the world, we&nbsp;work from our homes or&nbsp;inspiring locations of&nbsp;our choosing. Dragging a&nbsp;ball and chain to&nbsp;the office is&nbsp;<b>so</b>&nbsp;last century.</p>
    </div>
    <div class="triptych-section">
      <div class="triptych-picture"><span class="asset asset-tools"></span></div>
      <h3>Build</h3>
      <p>We&nbsp;believe that your best work happens when it&nbsp;happens. This might be&nbsp;Sunday morning at&nbsp;6&nbsp;when you&rsquo;re running in&nbsp;the woods, or&nbsp;while having a&nbsp;long afternoon tea. Or&nbsp;at&nbsp;your desk around 10&nbsp;on wednesday morning. You know this better than anyone else.</p>
    </div>
    <div class="triptych-section">
      <div class="triptych-picture"><span class="asset asset-mouse"></span></div>
      <h3>Launch</h3>
      <p>A&nbsp;project we&nbsp;take on&nbsp;as&nbsp;a&nbsp;team should be&nbsp;rewarding to&nbsp;work&nbsp;on. Life is&nbsp;too short to&nbsp;configure WebSphere, no&nbsp;matter what the pay.</p>
    </div>
  </div>
</div>