<div class="diptych diptych-inset">
  <div class="arkush diptych-inner">
    <div class="diptych-section">
      <h2>Our challenge</h2>
      <p>Share work with a&nbsp;team of&nbsp;professionals, instead of&nbsp;staffing a&nbsp;projects with resources.
        We&nbsp;work for startups only, but we&nbsp;keep the team together for multiple MVP’s.
        This creates a&nbsp;lot of&nbsp;interesting problems and opportunities.
        We&nbsp;believe in&nbsp;openness, collaboration and learning.</p>
    </div>
    <div class="diptych-section">
      <h2>Your impact</h2>
      <p>By&nbsp;doing many small, cutting edge projects in&nbsp;short succession we&nbsp;are forcing ourselves
        to&nbsp;adapt to&nbsp;change every day. You can help&nbsp;us adapt faster by&nbsp;teaching and learning.</p>
    </div>
  </div>
</div>