<div class="diptych diptych-inset">
  <div class="arkush diptych-inner">
    <div class="diptych-section">
      <h2>Developers for your startup</h2>

      <p>
        <a href="/blog/how-to-recognize-a-great-developer/">Hiring developers is hard</a> and risky. If you sign with someone that doesn't fit the team you risk losing a years
        salary on the bad decision. StarterSquad sells capacity to clients on a week by week basis: you never risk
        losing more than one week of budget. You have more room to experiment and learn before committing to your own
        staff.
      </p>

      <p>
        <a href="/blog/work-distribution-sweet-spot/">Getting a team up to speed</a> takes time and effort, which you'll
        be paying for along the way. StarterSquad teams
        have been working together for longer periods before you buy their capacity, so they will hit the ground
        running.
        This means you can get something done quickly, and then reserve budget until you're ready for your next
        experiment.
      </p>
    </div>
    <div class="diptych-section">
      <h2>The StarterSquad model</h2>
      <p>
        We&nbsp;work for startups only, keeping the team together for multiple engagements.
        We&nbsp;believe in&nbsp;openness, collaboration and learning. We're a stable team, at high velocity. Add your
        work to our TODO list and we'll crunch through it like a well oiled machine.
        You can share work with a&nbsp;team of&nbsp;professionals, instead of&nbsp;staffing
        projects with resources every time. Your organisation stays lean, while we stay agile.
      </p>
      <p>
        By&nbsp;doing many small, cutting edge projects in&nbsp;short succession we&nbsp;are forcing ourselves
        to&nbsp;adapt to&nbsp;change every day. This keeps the team agile and up-to-date.
      </p>
    </div>
  </div>
</div>