<div class="home-team">
  <div class="headline">
    <h1>Meet the StarterSquad team</h1>
    <p>
      Getting a team to work well together is a tough job that takes time and dedication. We have already done that job
      for you. Having skilled professionals in the team is half the job. Knowing each others strengths and weaknesses is
      the other half. Have a look at our profiles and feel free to connect.
    </p>
  </div>
  <div class="bubbles">
    <div class="bubble">
      <div class="bubble-main">
        <div class="bubble-backside">
          <div class="bubble-backside-text">Allround web developer, lean business hacker</div>
        </div>
        <img height="135" src="/_/images/static/team/ifuld.jpg" width="135">
      </div>
      <div class="bubble-footer">Iwein Fuld</div>
    </div>
    <div class="bubble">
      <div class="bubble-main">
        <div class="bubble-backside">
          <div class="bubble-backside-text">Front-end developer, getting things done</div>
        </div>
        <img height="135" src="/_/images/static/team/devseev.jpg" width="135">
      </div>
      <div class="bubble-footer">Dmitry Evseev</div>
    </div>
    <div class="bubble">
      <div class="bubble-main">
        <div class="bubble-backside">
          <div class="bubble-backside-text">UX magician and agile master</div>
        </div>
        <img height="135" src="/_/images/static/team/ngraf.jpg" width="135">
      </div>
      <div class="bubble-footer">Nikolaus Graf</div>
    </div>
    <div class="bubble">
      <div class="bubble-main">
        <div class="bubble-backside">
          <div class="bubble-backside-text">Look and feel artist, eye for detail</div>
        </div>
        <img height="135" src="/_/images/static/team/vborodean.jpg" width="135">
      </div>
      <div class="bubble-footer">Vadim Borodean</div>
    </div>
    <div class="bubble">
      <div class="bubble-main">
        <div class="bubble-backside">
          <div class="bubble-backside-text">Front-end developer, cracker of hard nuts</div>
        </div>
        <img height="135" src="/_/images/static/team/avasilenko.jpg" width="135">
      </div>
      <div class="bubble-footer">Alex Vasilenko</div>
    </div>
  </div>
</div>