<div class="home-team">
  <div class="headline">
    <h1>These are the voyages of the Starship Enterprise</h1>
    <p>This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p>
  </div>
  <div class="bubbles">
    <div class="bubble">
      <div class="bubble-main">
        <div class="bubble-backside">
          <div class="bubble-backside-text">Agile software engineer</div>
        </div>
        <img height="135" src="/assets/images/static/team/ifuld.jpg" width="135">
      </div>
      <div class="bubble-footer">Iwein Fuld</div>
    </div>
    <div class="bubble">
      <div class="bubble-main">
        <div class="bubble-backside">
          <div class="bubble-backside-text">Front-end developer</div>
        </div>
        <img height="135" src="/assets/images/static/team/devseev.jpg" width="135">
      </div>
      <div class="bubble-footer">Dmitry Evseev</div>
    </div>
    <div class="bubble">
      <div class="bubble-main">
        <div class="bubble-backside">
          <div class="bubble-backside-text">Front-end developer</div>
        </div>
        <img height="135" src="/assets/images/static/team/ngraf.jpg" width="135">
      </div>
      <div class="bubble-footer">Nikolaus Graf</div>
    </div>
    <div class="bubble">
      <div class="bubble-main">
        <div class="bubble-backside">
          <div class="bubble-backside-text">Front-end developer</div>
        </div>
        <img height="135" src="/assets/images/static/team/vborodean.jpg" width="135">
      </div>
      <div class="bubble-footer">Vadim Borodean</div>
    </div>
    <div class="bubble">
      <div class="bubble-main">
        <div class="bubble-backside">
          <div class="bubble-backside-text">Front-end developer</div>
        </div>
        <img height="135" src="/assets/images/static/team/avasilenko.jpg" width="135">
      </div>
      <div class="bubble-footer">Alex Vasilenko</div>
    </div>
    <div class="bubble">
      <div class="bubble-main">
        <div class="bubble-backside">
          <div class="bubble-backside-text">Back-end developer</div>
        </div>
        <img height="135" src="/assets/images/static/team/asikkema.jpg" width="135">
      </div>
      <div class="bubble-footer">Albert Sikkema</div>
    </div>
  </div>
</div>