@font-face {
  font-family: 'dekar_lightregular';
  src: url('/assets/fonts/dekar_light-webfont.eot');
  src: url('/assets/fonts/dekar_light-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/dekar_light-webfont.woff') format('woff'), url('/assets/fonts/dekar_light-webfont.ttf') format('truetype'), url('/assets/fonts/dekar_light-webfont.svg#dekar_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'dekarregular';
  src: url('/assets/fonts/dekar-webfont.eot');
  src: url('/assets/fonts/dekar-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/dekar-webfont.woff') format('woff'), url('/assets/fonts/dekar-webfont.ttf') format('truetype'), url('/assets/fonts/dekar-webfont.svg#dekarregular') format('svg');
  font-weight: normal;
  font-style: normal;

}