<div class="triptych">
  <div class="triptych-inner">
    <div class="triptych-section">
      <h3>Insane learning curve</h3>
      <p>If&nbsp;you work with StarterSquad you&rsquo;ll learn more in&nbsp;a&nbsp;month than you&rsquo;d learn in&nbsp;a&nbsp;year working in&nbsp;a&nbsp;classic company.</p>
    </div>
    <div class="triptych-section">
      <h3>Only the cool staff</h3>
      <p>We&nbsp;take on&nbsp;projects as&nbsp;a&nbsp;shared decision. If&nbsp;nobody wants to&nbsp;do&nbsp;the work, we&nbsp;don&rsquo;t take the job.</p>
    </div>
    <div class="triptych-section">
      <h3>No&nbsp;overhead</h3>
      <p>We&nbsp;don&rsquo;t have managers, secretaries, sales. This makes everything our problem and we&nbsp;think that&rsquo;s a&nbsp;good thing.</p>
    </div>
  </div>
</div>