<div class="bubbles">
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/ifuld">GITHUB</a>
          <a class="social-link social-link-linkedin" href="//linkedin.com/ifuld">LINKEDIN</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/ifuld.jpg" width="135">
    </div>
    <div class="bubble-footer">Iwein Fuld</div>
  </div>
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/devseev">GITHUB</a>
          <a class="social-link social-link-twitter" href="//twitter.com/devseev">TWITTER</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/devseev.jpg" width="135">
    </div>
    <div class="bubble-footer">Dmitry Evseev</div>
  </div>
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/ngraf">GITHUB</a>
          <a class="social-link social-link-twitter" href="//twitter.com/ngraf">TWITTER</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/ngraf.jpg" width="135">
    </div>
    <div class="bubble-footer">Nikolaus Graf</div>
  </div>
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/vborodean">GITHUB</a>
          <a class="social-link social-link-linkedin" href="//linkedin.com/vborodean">LINKEDIN</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/vborodean.jpg" width="135">
    </div>
    <div class="bubble-footer">Vadim Borodean</div>
  </div>
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/avasilenko">GITHUB</a>
          <a class="social-link social-link-twitter" href="//twitter.com/avasilenko">TWITTER</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/avasilenko.jpg" width="135">
    </div>
    <div class="bubble-footer">Alex Vasilenko</div>
  </div>
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-linkedin" href="//linkedin.com/asikkema">LINKEDIN</a>
          <a class="social-link social-link-twitter" href="//twitter.com/asikkema">TWITTER</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/asikkema.jpg" width="135">
    </div>
    <div class="bubble-footer">Albert Sikkema</div>
  </div>
</div>