<div class="bubbles">
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/iwein">GITHUB</a>
          <a class="social-link social-link-twitter" href="//twitter.com/iweinfuld">TWITTER</a>
          <a class="social-link social-link-linkedin" href="http://www.linkedin.com/in/iweinfuld">LINKEDIN</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/ifuld.jpg" width="135">
    </div>
    <div class="bubble-footer">Iwein Fuld</div>
  </div>
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/dmitryevseev">GITHUB</a>
          <a class="social-link social-link-twitter" href="//twitter.com/devseev">TWITTER</a>
          <a class="social-link social-link-linkedin" href="//www.linkedin.com/in/dmitryevseev">LINKEDIN</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/devseev.jpg" width="135">
    </div>
    <div class="bubble-footer">Dmitry Evseev</div>
  </div>
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/borodean">GITHUB</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/vborodean.jpg" width="135">
    </div>
    <div class="bubble-footer">Vadim Borodean</div>
  </div>
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-github" href="//github.com/TizianoPerrucci">GITHUB</a>
          <a class="social-link social-link-twitter" href="//twitter.com/tizianoperrucci">TWITTER</a>
          <a class="social-link social-link-linkedin" href="//www.linkedin.com/in/tizianoperrucci">LINKEDIN</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/tperrucci.jpg" width="135">
    </div>
    <div class="bubble-footer">Tiziano Perrucci</div>
  </div>
  <div class="bubble">
    <div class="bubble-main">
      <div class="bubble-backside">
        <div class="social social-inverse">
          <a class="social-link social-link-linkedin" href="//ua.linkedin.com/pub/iryna-evseeva/33/90a/a98">LINKEDIN</a>
        </div>
      </div>
      <img height="135" src="/_/images/static/team/ievseeva.jpg" width="135">
    </div>
    <div class="bubble-footer">Iryna Evseeva</div>
  </div>
</div>
