// Colors
$color-blue: #08C;
$color-red: #C00;
$color-yellow: #FC0;

// Font stacks
$consolas: Consolas, monospace;
$georgia: Georgia, sans-serif;
$open-sans: 'Open Sans', sans-serif;
$vollkorn: Vollkorn, sans-serif;
